* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
   font-family: 'Roboto', sans-serif;
}
/* header section*/

.header {
    background-color: #1f2937;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 2rem 5rem;
    
}
.header-links {
    display: flex;
    
    font-size: 22px;
    gap: 10px;
    justify-content: space-between;
}
.header-links a {
    text-decoration: none;
    color: beige;
}
/*about part*/

.main {
    
    justify-content: space-between;
    display: flex;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 2rem 5rem;
}
.awesome {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}
.awsome img {
    flex: 1;
}
.text {
    font-size: medium;
    padding: 20px;
    
}
.text p {
    padding: 5px;
}

.text button {
    color: antiquewhite;
    background-color: #053475;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
}

/* illustration section */

.ill-text {
    display: flex;
    font-size: xx-large;
    font-weight: 600;
    justify-content: space-around;
    padding: 2rem 5rem;
}
.info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    
    
}
.info-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #000206;
    border-radius: 15px;
    justify-content: ;
    margin: 5px 20px 5px 20px;
}
/* quote section */
.quote {
    background: rgb(188, 191, 195);
    padding: 100px;
    
    font-size: x-large;
}
.quote p {
    font-style: italic;
}
.quote b {
    display: flex;
    justify-content: flex-end;
}
/*sign up*/
.button:hover {
    background-color: aqua;
    color: firebrick;
}
.bottom {
    background: blue;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: beige;
    margin: 100px;
    border-radius: 5px;
} 

.bottom button {
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 10px;
    color:bisque;
    background: blue;
    margin: 5px;
    align-content: center;
    font-style: italic;
}

/*foot note*/
footer {
    background-color: rgb(3, 12, 25);
    color: bisque;
    display: flex;
    justify-content: center;
    padding:15px
    
    
}
