* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    
   font-family: 'Roboto', sans-serif;
}
body {
    

}
img {
    flex: 1;
}
.header {
    background-color: #1f2937;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 2rem 5rem;
    
}
.header-links {
    display: flex;
    font-size: 22px;
    gap: 10px;
    justify-content: space-between;
}
.main {
    
    justify-content: space-between;
    display: flex;
    background-color: #1f2937;
    color: whitesmoke;
    padding: 2rem 5rem;
}
.awesome {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    
    

}
.text {
    font-size: medium;
}
.text button {
    color: antiquewhite;
    background-color: #053475;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
}
.ill-text {
    display: flex;
    font-size: xx-large;
    font-weight: 600;
    justify-content: space-around;
    padding: 2rem 5rem;
}
.random-info-container {
    display: flex;
    padding: 2rem 5rem;

}
.illustration-item-1, .illustration-item-2, .illustration-item-3, .illustration-item-4 {
    display: flex;
    
    height: 50px;
    margin: 10px auto;
    border: black 2px solid;
    border-radius: 5px;
    justify-content: space-between;

    
}
.illustration-text-1, .illustration-text-2, .illustration-text-3, .illustration-text-4 {
    display: flex;
    flex: 1;


    justify-content: space-around;
